:root {
    --primary-color: #1e73be; /* Navy Blue */
    --secondary-color: #f8f9fa; /* Light Gray */
    --accent-color: #e91e63; /* Magenta */
    --background-color: #f5f5f5; /* Very Light Gray */
    --text-color: #333; /* Dark Gray */
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

input[type="email"], input[type="tel"], input[type="text"], input[type="date"], select, textarea {
    display: block;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

input[type="submit"] {
    /* max-width: 450px; */
    padding: .75rem;
    border-radius: 10px;
    margin: 2rem 0;
    font-size: large;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: darken(var(--primary-color), 10%);
}

#button:hover {
    background-color: #f0f0f0;
    color: #000;
}

.stars > label:hover {
    color: #000;
}

.stars > label::before {
    content: "\2606";
}

.stars input:checked ~ label::before {
    content: "\2605";
}

fieldset {
    border: none;
}

label {
    display: block;
    margin: 5px;
}

form {
    background-color: var(--background-color);
    padding: 1.5rem;
    padding-top: 1%;
    padding-bottom: 0%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 3px;
    color: #110213;
}

.required input:required {
    border-left: 10px solid red;
}

.required input:required:valid {
    border-left: 10px solid green;
}

.required select:required {
    border-left: 10px solid red;
}

.required select:required:valid {
    border-left: 10px solid green;
}

dialog {
    z-index: 1000;
    padding-top: 100px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: #000;
    font-size: large;
}

::backdrop {
    background-color: rgba(13, 5, 5, 0.9);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 100px;
}

#close-dialog {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

#close-dialog:hover {
    background-color: darken(var(--accent-color), 10%);
}

.form1{
    margin-left: auto;
    max-width: 600px;
    margin-right: auto;
}