*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cards{
    display: grid;
  grid-template-columns: repeat(auto-fit,310px);
  justify-content: center;
        gap: 15px;
   padding: 0;

	margin: 30px;
}

h2,h1{
    text-align: center;
}

#cards img{
    width: 300px;
}

section{
    border: 1px solid black;
    text-align: center;
}

footer{
    text-align: center;
    font-size: large;
    border: 1px solid black;
}
:root{
    --primary-color:#245C40;
    --secoundary-color:#9A173A;
    --accent-1: #ADCAD6;
    --margin-:10em;
    --padding:20px;
    --front-: "Roboto", serif;
    --h1:2.5rem;
    --h2:2rem;
    --p:1rem;
}

body{
    font-family: var(--front-);
}